{
    "customerId": "{{ data.customerId }}",
    "iataCode": "{{ data.iata }}",
    "icaoCode": "{{ data.icao }}",
    "iataSubCode": "{{ data.subIata }}",
    "icaoSubCode": "{{ data.subIcao }}",
    "periods": [
        {
            "name": "{{ data.name }}"
        }
    ]
}