{
    "customerId": "{{ data.customerId }}",
    "iataCode": "{{ data.iata }}",
    "icaoCode": "{{ data.icao }}",
    "name": "{{ data.name }}",
    "periods": [
        {
            "timeZoneId": "Europe/Paris"
        }
    ]
}