{
    "customerId": "{{ data.customerId }}",
    "periods": [
        {
            "startDateTime": null,
            "endDateTime": null,
            "periodAlert": null,
            "maximumFlightCapacity": null,
            "trafficType": null
        }
    ],
    "name": "{{ data.name }}",
    "terminal": {
        "id": "{{ data.terminalId }}"
    }
}
