**__pycache__/
*.egg-info/
*.pyc
.venv*
/dist/
.DS_Store
py_tests
log.html
output.xml
report.html
/doc/*.html
!/doc/readme.md
.coverage
/htmlcov/
.idea
bash.exe.stackdump
.style.yapf
/results/
/reports/