{
    "movement": [{
        "airline": {"value": "{{ data["airline"] }}"},
        "flightNumber": {"value":"{{data["flightNumber"]}}"},
        "departureAirport": {"value": "{{ data["departureAirport"] }}"},
        "arrivalAirport": {"value": "{{ data["arrivalAirport"] }}"},
        "registration": {"value": "{{ data["registration"]}}"},
        "callsign": {"value": "{{data["callsign"] }}"},
        "type": "{{ data["type"] }}",
        "operationTimeDuration":  {{data["operationTimeDuration"]}},
        "aircraftType": {"value": "{{ data["aircraftType"] }}"},
        "operationalStatus": {"value": "{{data["operationalStatus"]}}"},
        "serviceType": {"value": "{{data["serviceType"]}}"},
        "dataElement": []
        }
    ]
}

