{
    "uuid": null,
    "ruleTemplateUuid": "{{ data.ruleTemplateUuid }}",
    "name": "Test",
    "description": "",
    "active": false,
    "processes": [],
    "deleted": false,
    "inputLevel": "HIGH_LEVEL_LANGUAGE",
    "rawContent": null,
    "whenClause": "true",
    "thenClause": "BreLogger.log(\"test\");",
    "ruleGroupUuid": "",
    "relativeOrder": null,
    "absoluteOrder": null,
    "tags": null,
    "lastUpdateUser": "",
    "lastUpdateTime": 0,
    "errors": [],
    "cloneRuleUuid": null
}