{
    'id': '{{ data.id }}',
    'agentInfo': [{
            'handlingTask': '{{ data.handlingTask }}',
            'departureOrArrival': '{{ data.departureOrArrival }}',
            'value': '{{ data.value }}',
            'type': '{{ data.type }}'
        }
    ],
    'dataElement': []
}