{
    'id': '{{ data.id }}',
    'dataElement': [],
    'publicDisplay': {
        'displayType': {
            'value': '{{ data.displayType }}'
        },
        'airline': {
            'value': '{{ data.airline }}'
        },
        'flightNumber': {
            'value': '{{ data.flightNumber }}'
        }
    }
}