{
    'id': '{{ data.id }}',
    'legRemarkData': [{
            'qualifier': '{{ data.qualifier }}',
            'freeTexts': [{
                    'text': '{{ data.text }}',
                    'order': '{{ data.order }}'
                }
            ]
        }
    ],
    'dataElement': []
}