{
   'id': '{{ data.id }}',
    'fuel': [{
            'type': {
                'qualifier': '{{ data.qualifier }}'
            },
            'value': {
                'measurement': '{{ data.measurement }}',
                'measurementUnit': '{{ data.measurementUnit }}'
            }
        }
    ],
    'dataElement': []
}