{
    'id': '{{ data.id }}',
    'resource': [{
            'resourceType': '{{ data.resourceType }}',
            'departureOrArrival': '{{ data.departureOrArrival }}',
            'allocation': [{
                    'resourceId': {
                        'id': '{{ data.resourceId }}'
                    }
                }
            ]
        }
    ],
    'dataElement': []
}