{
    'id': '{{ data.id }}',
    'cabinClass': [{
            'class': '{{ data.class }}',
            'paxCount': [{
                    'count': {
                        'count': '{{ data.paxCount }}'
                    },
                    'paxCountQualifier': '{{ data.paxCountQualifier }}',
                    'SSRType': '{{ data.SSRType }}',
                    'destinationType': '{{ data.destinationType }}'
                }
            ]
        }
    ],
    'dataElement': []
}