{
    'id': '{{ data.id }}',
    'operationTimeDuration': [{
            'timeType': '{{ data.timeType }}',
            'operationQualifier': '{{ data.operationQualifier }}',
            'value': {
                'time': '{{ data.time }}'
            }
        }
    ],
    'dataElement': []
}