{
    'id': '{{ data.id }}',
    'deadLoad': [{
            'type': '{{ data.type }}',
            'destinationType': '{{ data.destinationType }}',
            'countQualifier': '{{ data.countQualifier }}',
            'countValue': {
                'count': '{{ data.countValue }}'
            },
            'weightValue': {
                'measurement': '{{ data.weightValue }}',
                'measurementUnit': '{{ data.measurementUnit }}'
            },
            'cabin': '{{ data.cabin }}',
            'destination': '{{ data.destination }}'
        }
    ],
    'dataElement': []
}