{
    'inboundMovement': {
        'id': '{{ data.inboundMovementId }}',
        'dataElement': []
    },
    'outboundMovement': {
        'id': '{{ data.outboundMovementId }}',
        'dataElement': []
    }
}