{
  "applicationName": "{{ data.component }}",
  "configurationName": "{{ data.configuration }}",
  "parameterName": "{{ data.parameterName }}",
  "criteria": [],
  "revision": {{ data.revision }},
  "value": {{ data.value }},
  "comment": "Test"
}